configuration {
    modi:                       "drun,window,run";
    show-icons:                 true;
    icon-theme:                 "Papirus";
    display-drun:               "Apps";
    display-window:             "Janelas";
    display-run:                "Executar";
    drun-display-format:        "{name}";
    disable-history:             false;
}

@theme "catppuccin-mocha"
